<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css}" />
    <title>PIZZERIA SPRING</title>
</head>

<body>
    <header>
        <div class="container">
            <nav th:replace="navbar :: navbar('ListaPizze')"></nav>
        </div>
    </header>

    <main>
        <div class="container py-3">
            <div class="row justify-content-center">
                <h2 class="text-center" style="color: red;">Lista Pizze</h2>
                <div class="mb-3">
                    <!-- pulsante rindirizzamento alla pagine di creazione nuova pizza -->
                    <a th:href="@{/PizzeriaSpring/NewPizza}" class="btn btn-secondary mb-3">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-plus" viewBox="0 0 16 16">
                            <path
                                d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4" />
                        </svg> Nuovo</a>
                    <!-- form di ricerca secondo il nome della pizza -->
                    <form method="get" th:action="@{/PizzeriaSpring/index}">
                        <div class="row">
                            <!-- Input ricerca secondo il nome della pizza -->
                            <div class="col-12 col-md-4">
                                <div class="input-group mb-3">
                                    <input name="keywordName" type="search" class="form-control"
                                        placeholder="Nome Pizza" aria-label="Search">
                                    <button class="btn btn-secondary" type="submit">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                            <path
                                                d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
                                        </svg>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <!-- tabella-lista delle pizze -->
                <table class="table table-striped">
                    <thead>
                        <tr style="background-color: goldenrod;">
                            <th scope="col"></th>
                            <th scope="col">Nome</th>
                            <th scope="col">Descrizione</th>
                            <th scope="col">Prezzo</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="pizza : ${listaPizze}">
                            <th scope="row" th:text="${pizza.id}"></th>
                            <td th:text="${pizza.nome}"></td>
                            <td th:text="${pizza.descrizione}"></td>
                            <td th:text="${pizza.PrezzoFormatter()}"></td>
                            <td>
                                <a th:href="@{|/PizzeriaSpring/Detail/${pizza.id}|}" class="btn btn-light">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                        class="bi bi-info-lg" viewBox="0 0 16 16">
                                        <path
                                            d="m9.708 6.075-3.024.379-.108.502.595.108c.387.093.464.232.38.619l-.975 4.577c-.255 1.183.14 1.74 1.067 1.74.72 0 1.554-.332 1.933-.789l.116-.549c-.263.232-.65.325-.905.325-.363 0-.494-.255-.402-.704zm.091-2.755a1.32 1.32 0 1 1-2.64 0 1.32 1.32 0 0 1 2.64 0" />
                                    </svg>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </main>
    <!-- Bootstrap Bundle with Popper -->
    <script th:src="@{/webjars/bootstrap/5.1.3/js/bootstrap.bundle.min.js}"></script>
</body>

</html>